<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Zimcsodatabase</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">

    <!-- CSS here -->
    <link rel="stylesheet" href="charity/css/bootstrap.min.css">
    <link rel="stylesheet" href="charity/css/owl.carousel.min.css">
    <link rel="stylesheet" href="charity/css/slicknav.css">
    <link rel="stylesheet" href="charity/css/animate.min.css">
    <link rel="stylesheet" href="charity/css/hamburgers.min.css">
    <link rel="stylesheet" href="charity/css/magnific-popup.css">
    <link rel="stylesheet" href="charity/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="charity/css/themify-icons.css">
    <link rel="stylesheet" href="charity/css/themify-icons.css">
    <link rel="stylesheet" href="charity/css/slick.css">
    <link rel="stylesheet" href="charity/css/nice-select.css">
    <link rel="stylesheet" href="charity/css/style.css">
    <link rel="stylesheet" href="charity/css/responsive.css">
</head>
<body>
    <!--? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="charity/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-top d-none d-lg-block">
                    <div class="container-fluid">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left d-flex">
                                    <ul>     
                                        <li>Phone: 0242570604</li>
                                        <li>Email: zimaidsnetworkdirector@gmail.com</li>
                                    </ul>
                                   
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="index.html"><img src="imahgges/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">                                                                                          
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="/organisations">CSOs in Zimbabwe</a></li>
                                                <li><a href="guide.html">User Guide</a></li>
                                                <li><a href="community.html">Community</a></li>
                                                <li><a href="/contact.html">Contact Us</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- Header-btn -->
                                    <div class="header-right-btn d-none d-lg-block ml-20">
                                        <a href="contact.html" class="btn header-btn">Donate</a>
                                    </div>
                                </div>
                            </div> 
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70 text-center">
                                <h2>{{org.name}}</h2><em>{{org.acronym}}</em>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!--? Blog Area Start-->
        <section class="blog_area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-5 mb-lg-0">
                        <div class="blog_left_sidebar">
                            <article class="blog_item">
                                <div class="section-top-border">
                                    <h3 class="mb-30"> Aim</h3>
                                    <div class="row">
                                        <div class="col-md-3">
                                        {% if org.logo %}
                                            <img src="{{ org.logo }}" alt="" class="img-fluid">
                                        {% else %}
                                            <img src="images/organisation-placeholder.svg" alt="" class="img-fluid">
                                        {% endif %}
                                            
                                        </div>
                                        <div class="col-md-9 mt-sm-20">
                                            <p>{{org.aim_core_business}}</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="blog_item">
                                <div class="section-top-border">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="single-defination">
                                                <h4 class="mb-20">Mission</h4>
                                                <p>{{org.mission}}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-defination">
                                                <h4 class="mb-20">Vision</h4>
                                                <p>{{org.vision}}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="single-defination">
                                                <h4 class="mb-20">Background</h4>
                                                <p>{{org.background}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="blog_item">
                                <h3 class="mb-30">Organisation Details</h3>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <blockquote class="generic-blockquote">
                                            {%- if org.year_of_establishment %}
                                                Registered in {{org.year_of_establishment}}
                                                {%- endif -%}
                                    
                                            <p>
                                            The {{org.status}} organisation which operates on a {{org.cso_geoscheme}} geoscheme
                                                can be contacted on {{org.phone_number}} or {{org.email_address}}.
                                                </p>
                                    
                                                <ul>
                                                <li>Registration Type: {{org.registration_type}}</li>
                                                <li>Registration Number: {{org.number}}</li>
                                                <li>Sector Type: {{org.sector_type}}</li>
                                                
                                                </ul>   
                                            <hr>
                                            <h2>Memberships</h2>
                                            <blockquote class="blockquote">
                                                <p>Memberships the organisation holds:</p>
                                            </blockquote>
                                            <!-- <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p> -->
                                            <ul>
                                                {% for membership in org.table_zpwh %}
                                                <li>{{membership.memberships}}</li>
                                                {% endfor %}
                                                
                                            </ul>    
                                            <hr>
                                            <h2>Focus Areas</h2>
                                            <blockquote class="blockquote">
                                                <p>Thematic areas the organisation works in:</p>
                                            </blockquote>
                                            <!-- <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p> -->
                                            <ul>
                                                {% for focus in org.table_lozm %}
                                                <li>{{focus.thermatic_area}}</li>
                                                {% endfor %}
                                                
                                            </ul>     
                                        </blockquote>
                                    </div>
                                </div>
                            </article>
                            <article class="blog_item">
                                <h2 class="blog-post-title"> Programs Running </h2>
              
                                <blockquote>
                                  <p>Currently running programs</p>
                                </blockquote>
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th>Program</th>
                                      <th>Description</th>
                                      <th>Running</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for program in org.programs_running %}
                                    <tr>
                                      <td>{{program.program_currently_running}}</td>
                                      <td>{{program.description}}</td>
                                      <td>
                                            <div class="primary-switch">
                                            <input type="checkbox" id="primary-switch"
                                            {% if program.currently_running %}
                                            checked
                                            {% endif %}
                                             disabled="true">
                                            <label for="primary-switch"></label>
									        </div>
                                       </td>
                                    </tr>
                                    
                                    {% endfor %}
                                  </tbody>
                                 
                                </table>
                            </article>

                           
                            
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                           
                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;">Director Details</h4>
                                <ul class="list cat-list">
                                    {% for director in org.table_aikq %}
                                    <li>
                                        <a href="tel:{{director.phone_number}}" class="d-flex">
                                            <p>{{director.name1}}</p>
                                            <p>({{director.phone_number}})</p>
                                        </a>
                                    </li>
                                    {% endfor %}
                                   
                                </ul>
                            </aside>

                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title" style="color: #2d2d2d;">Contact Persons</h3>
                                {% for contact in org.table_nnex %}
                                <div class="media post_item">
                                    <div class="media-body">
                                        <a href="tel:{{contact.phone_number}}">
                                            <h3 style="color: #2d2d2d;">{{contact.name1}}</h3>
                                        </a>
                                        <!-- <p>January 12, 2019</p> -->
                                    </div>
                                </div>
                                {% endfor %}
                            </aside>
                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title" style="color: #2d2d2d;">Addresses</h3>
                                {% for location in org.location %}
                                <div class="media post_item">
                                    <div class="media-body">
                                        <a href="{{location.gps}}">
                                            <h3 style="color: #2d2d2d;">{{location.physical_address}}</h3>
                                        </a>
                                        <p>{{location.province}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </aside>
                            <aside class="single_sidebar_widget tag_cloud_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;">Social Links</h4>
                                <ul class="list">
                                    {% for link in org.social_media_handles %}
                                    <li>
                                        {% set url = link.url %}
                                        {% set url_parts = url.split('/') %}
                                        {% set domain = url_parts[2] %}

                                        <a href="{{link.url}}"> {{domain}}</a>
                                    </li>
                                    {% endfor %}
                                   
                                </ul>
                            </aside>

                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Area End -->
    </main>
    <footer>
        <div class="footer-wrapper section-bg2" data-background="charity/img/gallery/footer_bg.png">
            <!-- Footer Top-->
            <div class="footer-area footer-padding">
                <div class="container">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <div class="footer-logo mb-20">
                                        <a href="index.html"><img src="charity/img/logo/logo2_footer.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Contact Info</h4>
                                    <ul>
                                        <li>
                                            <p>Address: 30 St Patrick’s Road, Hatfield Harare</p>
                                        </li>
                                        <li><a href="#">Phone: 0242570604</a></li>
                                        <li><a href="#">Email: <a href="mailto:zimaidsnetworkdirector@gmail.com ">zimaidsnetworkdirector@gmail.com </a></a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
            <!-- footer-bottom -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="footer-border">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="col-xl-10 col-lg-9 ">
                                <div class="footer-copy-right">
                                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Zimcsodatabase <i class="fa fa-heart" aria-hidden="true"></i> 
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="./charity/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./charity/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./charity/js/popper.min.js"></script>
    <script src="./charity/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./charity/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./charity/js/owl.carousel.min.js"></script>
    <script src="./charity/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="./charity/js/wow.min.js"></script>
    <script src="./charity/js/animated.headline.js"></script>
    <script src="./charity/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="./charity/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="./charity/js/jquery.nice-select.min.js"></script>
    <script src="./charity/js/jquery.sticky.js"></script>
    <!-- Progress -->
    <script src="./charity/js/jquery.barfiller.js"></script>
    
    <!-- counter , waypoint,Hover Direction -->
    <script src="./charity/js/jquery.counterup.min.js"></script>
    <script src="./charity/js/waypoints.min.js"></script>
    <script src="./charity/js/jquery.countdown.min.js"></script>
    <script src="./charity/js/hover-direction-snake.min.js"></script>

    <!-- contact js -->
    <script src="./charity/js/contact.js"></script>
    <script src="./charity/js/jquery.form.js"></script>
    <script src="./charity/js/jquery.validate.min.js"></script>
    <script src="./charity/js/mail-script.js"></script>
    <script src="./charity/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="./charity/js/plugins.js"></script>
    <script src="./charity/js/main.js"></script>
    
    </body>
</html>