<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Zimcsodatabase</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
      window.frappe = {};
      frappe.ready_events = [];
      frappe.ready = function(fn) {
        frappe.ready_events.push(fn);
      }
      window.dev_server = {{ dev_server }};
      window.socketio_port = {{ (frappe.socketio_port or 9000) }};
      window.show_language_picker = {{ show_language_picker or 'false' }};
    </script>
    {{ include_script('frappe-web.bundle.js') }}

	<!-- CSS here -->
	<link rel="stylesheet" href="charity/css/bootstrap.min.css">
    <link rel="stylesheet" href="charity/css/flaticon.css">
    <link rel="stylesheet" href="charity/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="charity/css/animate.min.css">
    <link rel="stylesheet" href="charity/css/animated-headline.css">
	<link rel="stylesheet" href="charity/css/magnific-popup.css">
	<link rel="stylesheet" href="charity/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="charity/css/themify-icons.css">
	<link rel="stylesheet" href="charity/css/nice-select.css">
	<link rel="stylesheet" href="charity/css/style.css">
</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="charity/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-top d-none d-lg-block">
                    <div class="container-fluid">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left d-flex">
                                    <ul>     
                                        <li>Phone: 0242570604</li>
                                        <li>Email: zimaidsnetworkdirector@gmail.com</li>
                                    </ul>
                                   
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="index.html"><img src="charity/img/logo/loder.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">                                                                                          
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="/organisations">CSOs in Zimbabwe</a></li>
                                                <li><a href="guide.html">User Guide</a></li>
                                                <li><a href="community.html">Community</a></li>
                                                <li><a href="/contact.html">Contact Us</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- Header-btn -->
                                    <div class="header-right-btn d-none d-lg-block ml-20">
                                        <a href="contact.html" class="btn header-btn">Donate</a>
                                    </div>
                                </div>
                            </div> 
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <!-- header end -->
    <main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-20 text-center">
                            <h2>The <span>Organisations </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <nav class="navbar navbar-light  justify-content-between">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" id="search_field" value='{{query}}' placeholder="Name" aria-label="Search">
          <select id="registration-type" class="form-control mr-sm-2">
            <option selected disabled>Select Reg Type</option>
            <option></option>
            <option>PVO</option>
            <option>Trust</option>
            <option>Cooperative</option>
            <option>Company</option>
          </select>
          <select id="province" class="form-control mr-sm-2">
            <option selected disabled>Select Province</option>
            <option></option>
            <option>Harare</option>
            <option>Bulawayo</option>
            <option>Manicaland</option>
            <option>Mashonaland Central</option>
            <option>Mashonaland East</option>
            <option>Mashonaland West</option>
            <option>Masvingo</option>
            <option>Matabeleland North</option>
            <option>Matabeleland South</option>
            <option>Midlands</option>
          </select>
          <select id="thematic" class="form-control mr-sm-2">
            <option selected disabled>Thematic <Area></Area></option>
            <option></option>
            <option>HIV</option>
            <option>MALARIA</option>
            <option>TB</option>
            <option>NCDs</option>
            <option>DISABILITY</option>
            <option>SRHR</option>
            <option>WOMEN RIGHTS</option>
            <option>CHILD RIGHTS</option>
            <option>HEALTH ADVOCACY</option>
            <option>OVC</option>
            <option>GENDER</option>
            <option>MARTENAL HEALTH</option>
            <option>HEALTH RELATED RESEARCH</option>
            <option>HEALTH INFORMATION SYSTEMS</option>
            <option>KEY POPULATION</option>
            <option>LGBTIQ</option>
            <option>DRUGS AND SUBSTANCE ABUSE</option>
            <option>EMERGENCIES</option>
            <option>MENTAL HEALTH</option>
            <option>CLIMATE CHANGE</option>
            <option>ECONOMIC EMPOWERMENT</option>
            <option>YOUTH</option>
            <option>FOOD SECURITY</option>
          </select>
          <button class="btn btn-outline-success my-2 my-sm-0" id="search">Search</button>
        </form>
      </nav>
    <!-- Our Cases Start -->
    <div class="our-cases-area section-padding30">
        <div class="container">
            <div class="row" id="capsule_card">
                
                
               
            </div>
        </div>
        <nav class="blog-pagination justify-content-center d-flex">
            <ul class="pagination">
                <li class="page-item">
                    <button type="button" id="load" class="btn btn-outline-success my-2 my-sm-0">Load More<i class="ti-angle-right"></i></button>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Our Cases End -->
    </main>
    <footer>
        <div class="footer-wrapper section-bg2" data-background="charity/img/gallery/footer_bg.png">
            <!-- Footer Top-->
            <div class="footer-area footer-padding">
                <div class="container">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <div class="footer-logo mb-20">
                                        <a href="index.html"><img src="charity/img/logo/logo2_footer.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Contact Info</h4>
                                    <ul>
                                        <li>
                                            <p>Address: 30 St Patrick’s Road, Hatfield Harare</p>
                                        </li>
                                        <li><a href="#">Phone: 0242570604</a></li>
                                        <li><a href="#">Email: <a href="mailto:zimaidsnetworkdirector@gmail.com ">zimaidsnetworkdirector@gmail.com </a></a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
            <!-- footer-bottom -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="footer-border">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="col-xl-10 col-lg-9 ">
                                <div class="footer-copy-right">
                                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Zimcsodatabase <i class="fa fa-heart" aria-hidden="true"></i> 
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

   
   
     <!-- JS here -->
     {% block base_scripts %}
     <!-- js should be loaded in body! -->
     <script>
         frappe.boot = {{ boot }}
         // for backward compatibility of some libs
         frappe.sys_defaults = frappe.boot.sysdefaults;
     </script>
     
     {% endblock %}
 
     {%- for link in web_include_js %}
     {{ include_script(link) }}
     {%- endfor -%}
 
     {%- block script %}
         {% if colocated_js -%}
             <script>{{ colocated_js }}</script>
         {%- endif %}
     {%- endblock %}
     <script>{% include "www/js/organisations.js" %}</script>
     


    //  <script src="./charity/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <!-- // <script src="./charity/js/vendor/jquery-1.12.4.min.js"></script> -->
    <!-- <script src="./charity/js/popper.min.js"></script> -->
    <!-- <script src="./charity/js/bootstrap.min.js"></script> -->
    <!-- Jquery Mobile Menu -->
    <script src="./charity/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <!-- <script src="./charity/js/owl.carousel.min.js"></script> -->
    <script src="./charity/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="./charity/js/wow.min.js"></script>
    <!-- <script src="./charity/js/animated.headline.js"></script> -->
    <!-- <script src="./charity/js/jquery.magnific-popup.js"></script> -->

    <!-- Date Picker -->
    <script src="./charity/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="./charity/js/jquery.nice-select.min.js"></script>
    <!-- <script src="./charity/js/jquery.sticky.js"></script> -->
    <!-- Progress -->
    <script src="./charity/js/jquery.barfiller.js"></script>
    
    <!-- counter , waypoint,Hover Direction -->
    <script src="./charity/js/jquery.counterup.min.js"></script>
    <!-- <script src="./charity/js/waypoints.min.js"></script> -->
    <!-- <script src="./charity/js/jquery.countdown.min.js"></script> -->
    <script src="./charity/js/hover-direction-snake.min.js"></script>

    <!-- contact js -->
    <!-- <script src="./charity/js/contact.js"></script> -->
    <!-- <script src="./charity/js/jquery.form.js"></script> -->
    <!-- <script src="./charity/js/jquery.validate.min.js"></script> -->
    <script src="./charity/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="./charity/js/plugins.js"></script>
    <script src="./charity/js/main.js"></script>
	{%- block body_include %}{{ body_include or "" }}{% endblock -%}
    </body>
</html>